<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ $metaDescription := .Description | default .Site.Params.description }}
    <meta name="description" content="{{ $metaDescription }}">
    <meta name="author" content="{{ .Site.Params.author }}">
    <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>
    
    {{ $variables := resources.Get "css/variables.css" }}
    {{ $global := resources.Get "css/global.css" }}
    {{ $navbar := resources.Get "css/Navbar.css" }}
    {{ $footer := resources.Get "css/Footer.css" }}
    {{ $articleCard := resources.Get "css/ArticleCard.css" }}
    {{ $projectCard := resources.Get "css/ProjectCard.css" }}
    {{ $homePage := resources.Get "css/HomePage.css" }}
    {{ $aboutPage := resources.Get "css/AboutPage.css" }}
    {{ $articlePage := resources.Get "css/ArticlePage.css" }}
    {{ $contactPage := resources.Get "css/ContactPage.css" }}
    {{ $css := slice $variables $global $navbar $footer $articleCard $projectCard $homePage $aboutPage $articlePage $contactPage | resources.Concat "css/bundle.css" | resources.Minify }}
    <link rel="stylesheet" href="{{ $css.RelPermalink }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <div class="app-container">
        {{ partial "navbar.html" . }}
        
        <main>
            {{ block "main" . }}{{ end }}
        </main>
        
        {{ partial "footer.html" . }}
    </div>
    
    {{ if or .IsHome (eq .Layout "projects") }}
    {{ partial "project-card-expand-script.html" . }}
    {{ end }}
    {{ block "scripts" . }}{{ end }}
</body>
</html>
