<nav class="navbar">
    <div class="container navbar-content">
        <a href="/" class="navbar-brand">
            Davide Lo Mundo
        </a>
        <div class="navbar-actions">
            <ul class="nav-menu">
                <li><a href="/">Home</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/projects/">Projects</a></li>
                <li><a href="/journal/">Journal</a></li>
                <li><a href="/contact/">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
